html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Approach_Mono', sans-serif;
}

.bgHome {
    background-image: url('../../../public/images/home_background1.gif');
  
    background-size: cover;
  
    background-attachment: fixed;
  
    background-repeat: no-repeat;
  
    background-position: center;
  
    min-height: 100vh;
  
  }

@media (max-width: 767px) {
    .bgHome {
        background-image: url('../../../public/images/home_background2.gif');
    }
}
@media (max-width: 480px) {
    .bgHome {
        background-image: url('../../../public/images/home_background3.gif');
    }
}

@font-face {
    font-family: 'Approach_Mono';
    src: local('Approach_Mono'), url('../fonts/Approach_Mono/Approach_Mono.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}