@font-face {
    font-family: 'Approach_Mono';
    src: local('Approach_Mono'), url('../fonts/Approach_Mono/Approach_Mono.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.container {
    color: white;
    display: flex;
}

.text {
  font-family: 'Approach_Mono';
}

.bg {
  background-image: url('../../../public/images/main_background.gif');

  background-size: cover;

  background-attachment: fixed;

  background-repeat: no-repeat;

  background-position: center;

  min-height: 100vh;

  background-color: #000;
}