.bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.bg {
    background-image: url('../../../public/images/main_background.gif');
  
    background-size: cover;
  
    background-attachment: fixed;
  
    background-repeat: no-repeat;
  
    background-position: center;
  
    min-height: 100vh;
  
    background-color: #000;
  }

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Approach_Mono', sans-serif;
}

.productContainer {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    min-height: '100vh';
    padding-top: '1%';
    text-decoration: 'none';
}

@font-face {
    font-family: 'Approach_Mono';
    src: local('Approach_Mono'), url('../fonts/Approach_Mono/Approach_Mono.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.productText {
    color: white;
    text-align: center; 
}

@media (max-width: 768px) { 
    .product1 {
        width: 100%;
        margin: 0 auto;
    }

    .productText {
        font-size: 0.8rem; 
    }

}

@media (max-width: 480px) { 
    .product1 {
        width: 90%; 
    }

    .productText {
        font-size: 0.7rem; 
    }

    
}
